<template>
    <div class='order'>
        <div class="car-top">
            <header>
                <i class="el-icon-s-order"></i>
                <h1>确认订单</h1>
            </header>
        </div>
        <div class="con">
            <div class="box">
                <!-- 收货地址 -->
                <div class="address">
                    <h4>收货地址</h4>
                    <div class="block">
                        <span class="yi">
                            <p class="name">陈同学</p>
                            <p class="phone">13580018623</p>
                            <p class="address1">广东 广州市 白云区 江高镇</p>
                            <p class="address2">广东白云学院</p>
                        </span>
                        <span>
                            <p class="name">陈同学</p>
                            <p class="phone">13580018623</p>
                            <p class="address1">广东 茂名市 化州市 杨梅镇</p>
                            <p class="address2">***</p>
                        </span>
                        <span class="san">
                            <span class="center">
                                <i
                                    class="el-icon-circle-plus-outline"
                                    cl
                                ></i>
                                <p>添加新地址</p>
                            </span>
                        </span>
                    </div>
                    <h4>商品及优惠券</h4>
                </div>
                <!-- 商品图片 -->
                <div class="img">
                    <li
                        v-for="(item,i) in list"
                        :key="i"
                    >
                        <span>
                            <img
                                :src="'http://106.15.179.105:3000/'+item.productImg"
                                alt=""
                            >
                            {{item.productName}}
                        </span>
                        <span>{{item.price}}元 x {{item.num}} </span>
                        <span>{{item.price*item.num}}元</span>
                    </li>
                </div>
                <!-- 配送方式 -->
                <p class="give">
                    <span>配送方式</span>
                    <span>包邮</span>
                </p>
                <!-- 发票 -->
                <p class="invoice">
                    <span>发票</span>
                    <span>电子发票&emsp;&emsp;个人&emsp;&emsp;商品明细</span>
                </p>
                <!-- 商品详情 -->
                <div class="details">
                    <div></div>
                    <div>
                        <p> <span>商品件数：</span> {{num.num}}件</p>
                        <p><span>商品总价：</span>{{num.price}}元</p>
                        <p><span>活动优惠：</span>-0元</p>
                        <p><span>优惠券抵扣：</span>-0元</p>
                        <p><span>运费：</span>0元</p>
                        <p><span>应付总额：</span><span><b>{{num.price}}</b>元</span></p>

                    </div>
                </div>
                <!-- button按钮 -->
                <div class="btn">
                    <button @click="cart">返回购物车</button>
                    <button @click="settlement">结算</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { addOrder } from "@/api/get.js";
export default {
  data() {
    return {
      list: []
    };
  },
  mounted() {
    this.list = JSON.parse(localStorage.getItem("result"));
    console.log(this.list);
  },
  methods: {
    cart() {
      this.$router.push({ path: "/myCar" });
    }   ,
    //   结算
    settlement() {
      console.log(1);
      let user_id = localStorage.getItem("id");
      addOrder({ products: this.list, user_id: user_id }).then(res => {
        console.log(res);
        if (res.code == "001") {
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
          localStorage.removeItem("orderList");
          this.$router.push({ path: "/myorder" });
          this.$router.push({ path: "/order" });
        } else {
          this.$notify.error({
            title: "错误",
            message: res.msg
          });
        }
      });
    }
  },
  computed: {
    num() {
      let num = 0;
      let price = 0;
      this.list.forEach(item => {
        num += item.num;
        price += item.price * item.num;
      });
      return { num: num, price: price };
    }
  },
  components: {}
};
</script>

<style lang='less'>
.car-top {
  width: 100%;
  border-bottom: 3px solid #ff6700;

  header {
    width: 1225px;
    margin: 0 auto;
    height: 66px;
    line-height: 66px;
    display: flex;
  }
  .el-icon-s-order {
    font-size: 28px;
    color: #ff6700;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    margin-top: 10px;
    color: #868387;
    margin-left: 20px;
  }
}
.order {
  .topa {
    width: 100%;
    .top {
      border-bottom: 3px solid #ff6700;
      padding: 16px 0;
      .center {
        width: 80%;
        margin: 0px auto;
        padding-top: 10px;
        span:nth-child(1) {
          font-size: 26px;
          i {
            color: #ff6700;
            font-weight: bold;
            margin-right: 6px;
          }
        }
        span:nth-child(2) {
          font-size: 12px;
          color: #757575;
        }
      }
    }
  }
  .con {
    background: #f5f5f5;
    padding-top: 20px;
    .box {
      width: 80%;
      padding: 40px 30px;
      box-sizing: border-box;
      margin: 0px auto;
      background: white;
      height: 100%;
      .address {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        .block {
          margin-top: 16px;
          margin-bottom: 30px;
          display: flex;
          span {
            border: 1px solid #ccc;
            color: #757575;
            line-height: 30px;
            padding: 16px 30px;
            width: 220px;
            height: 168px;
            margin-right: 16px;
            font-size: 14px;
            .name {
              color: black;
              font-size: 18px;
            }
            .center {
              width: 150px;
              height: 100px;
              text-align: center;
              margin: 40px 0;
              display: inline-block;
              border: 1px solid white;
              i {
                color: black;
                font-size: 26px;
                cursor: pointer;
              }
            }
          }
          .yi {
            border: 1px solid #ff6700;
          }
        }
        h4 {
          font-size: 18px;
        }
      }
      .img {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        line-height: 40px;
        li {
          display: flex;
          font-size: 14px;
          img {
            width: 40px;
            height: 50px;
            vertical-align: middle;
            margin-right: 10px;
          }
          span:nth-child(1) {
            width: 60%;
          }
          span:nth-child(2) {
            width: 20%;
            text-align: center;
          }
          span:nth-child(3) {
            width: 20%;
            text-align: center;

            color: #ff6700;
          }
        }
      }
      .give {
        border-bottom: 1px solid #ccc;
        padding: 30px 0;
        span:nth-child(1) {
          font-size: 20px;
          margin-right: 100px;
        }
        span:nth-child(2) {
          font-size: 13px;
          color: #ff6700;
        }
      }
      .invoice {
        border-bottom: 1px solid #ccc;
        padding: 30px 0;
        span:nth-child(1) {
          font-size: 20px;
          margin-right: 140px;
        }
        span:nth-child(2) {
          font-size: 13px;
          color: #ff6700;
        }
      }
      .details {
        border-bottom: 1px solid #ccc;
        display: flex;
        padding: 20px 0;
        justify-content: space-between;
        div:nth-child(2) {
          line-height: 40px;
          p {
            span:nth-child(1) {
              color: #757575;
            }
            span {
              b {
                font-size: 28px;
                color: #ff6700;
              }
            }
            color: #ff6700;
            width: 250px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .btn {
        margin-top: 20px;
        text-align: right;
        button {
          width: 158px;
          height: 38px;
          margin-left: 10px;
          border: 1px solid #ccc;
          background: #fff;
          color: #bababa;
          cursor: pointer;
        }
        button:nth-child(2) {
          background: #ff6700;
          color: white;
        }
      }
    }
  }
}
</style>
