<template>
	<div id="list">
	    <div class="list">
      <el-carousel height='500px' :interval="3000" arrow="always">
          <el-carousel-item v-for="item in swiper" :key="item.carousel_id">
            <img :src="'http://106.15.179.105/api/'+item.imgPath" class="swiperImg">
          </el-carousel-item> 
      </el-carousel>
      </div>
      
      <div class="box1">
          <div>  <!-- 手机 -->
            <h1>手机</h1>
            <div class="biao">
              <img src="../../../public/phone.png" alt="" class="biaoLeft">
              <ul class="biaoList">
                <li v-for="(item,index) in list" :key="index" @click="goxq(item.product_id)">
                  <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="">
                  <p class="biaoName">{{item.product_name}}</p>
                  <p class="biaoTitle">{{item.product_title}}</p>
                  <p class="biaoPrice"><span >{{item.product_selling_price}}元</span><s>{{item.product_price}}元</s></p>
                </li>
                <li class="geng">
                  <p @click="liu(1)">浏览更多 》</p>
                </li>
              </ul>
            </div>
          </div>
          <div>  <!-- 家电 -->
                  <div class="title">
                    <h2>家电</h2>
                    <ul>
                      <li @mouseenter="tab(0)" :class="ind==0?'active':''">热门</li>
                      <li @mouseenter="tab(1)" :class="ind==1?'active':''">电视影音</li>
                    </ul>
                  </div>
                  <div class="biao">
                    <div class="biaoLeft">
                      <img src="../../../public/净水器.png" alt="" class="two">
                      <img src="../../../public/扫地机器人.png" alt="" class="two">
                    </div>
                    <ul class="biaoList">
                      <li v-for="(item,index) in arr" :key="index"  @click="goxq(item.product_id)">
                        <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="">
                        <p class="biaoName">{{item.product_name}}</p>
                        <p class="biaoTitle">{{item.product_title}}</p>
                        <p class="biaoPrice"><span >{{item.product_selling_price}}元</span><s>{{item.product_price}}元</s></p>
                      </li>
                      <li class="geng">
                        <p @click="liu(2)">浏览更多 》</p>
                      </li>
                    </ul>
                  </div>
          </div>
          <div>  <!-- 配件 -->
                  <div class="title">
                    <h2>配件</h2>
                    <ul>
                      <li @mouseenter="tab1(0)" :class="peiind==0?'active':''">热门</li>
                      <li @mouseenter="tab1(1)" :class="peiind==1?'active':''">保护套</li>
                      <li @mouseenter="tab1(2)" :class="peiind==2?'active':''">充电器</li>
                    </ul>
                  </div>
                  <div class="biao">
                    <div class="biaoLeft">
                      <img src="../../../public/蓝牙耳机.png" alt="" class="two">
                      <img src="../../../public/洗手机套装.png" alt="" class="two">
                    </div>
                    <ul class="biaoList">
                      <li v-for="(item,index) in gettao" :key="index"  @click="goxq(item.product_id)">
                        <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="">
                        <p class="biaoName">{{item.product_name}}</p>
                        <p class="biaoTitle">{{item.product_title}}</p>
                        <p class="biaoPrice"><span >{{item.product_selling_price}}元</span><s>{{item.product_price}}元</s></p>
                      </li>
                      <li class="geng">
                        <p @click="liu(3)">浏览更多 》</p>
                      </li>
                    </ul>
                  </div>
          </div>
      </div>
	</div>
</template>

<script>
import {
  getSwiperdata,
  getPromo,
  getHot,
  getTao,
  getTeleplay,
  getProtective,
  getCharger
} from "@/api/get.js";

export default {
  name: "goods",
  data() {
    return {
      list: [], //ajax商品请求数据,
      swiper: [],
      arr: [],
      gettao: [],
      ind: 0,
      peiind: 0,
      result: []
    };
  },
  components: {},
  methods: {
    goxq(i) {
      console.log(i);
      this.$router.push({ path: "/xq", query: { id: i } });
    },
    tab(i) {
      this.ind = i;
      if (i == 0) {
        getHot().then(res => {
          this.arr = res.Product;
          console.log(40, this.arr);
        });
      } else {
        getTeleplay().then(res => {
          this.arr = res.Product;
          console.log(40, this.arr);
        });
      }
    },
    liu(i) {
      if (i == 1) {
        this.result = [1];
      }
      if (i == 2 && this.ind != 1) {
        this.result = [2, 3, 4];
      }
       if (i == 2 && this.ind == 1) {
        this.result = [2];
      }
       if (i == 3 && this.peiind == 0) {
        this.result = [5, 6, 7,8];
      }
       if (i == 3 && this.peiind == 1) {
        this.result = [5];
      }
       if (i == 3 && this.peiind == 2) {
        this.result = [7];
      }
      this.$router.push({ path: "/ratings" , query:{id:this.result}});
    },
    tab1(i) {
      this.peiind = i;
      if (i == 0) {
        getTao().then(res => {
          this.gettao = res.Product;
          console.log(40, this.gettao);
        });
      } else if (i == 1) {
        getProtective().then(res => {
          this.gettao = res.Product;
          console.log(40, this.gettao);
        });
      } else {
        getCharger().then(res => {
          this.gettao = res.Product;
          console.log(40, this.gettao);
        });
      }
    }
  },
  computed: {},
  mounted() {
    getSwiperdata().then(res => {
      this.swiper = res.carousel;
      console.log(118, this.swiper);
    });
    getPromo().then(res => {
      this.list = res.Product;
      // console.log(40, this.list);
    });
    getHot().then(res => {
      this.arr = res.Product;
      // console.log(40, this.arr);
    });
    getTao().then(res => {
      this.gettao = res.Product;
      // console.log(40, this.gettao);
    });
  }
};
</script>

<style lang="less" scoped>
.list {
  width: 1225px;
  margin: 0 auto;
}
.swiperImg {
  width: 100%;
  height: 100%;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
.box1 {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  margin-top: 20px;
  margin-bottom: 10px;
  h1 {
    font-size: 23px;
    font-weight: 200;
    width: 1225px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    // display: inline-block;
  }
  .title {
    width: 1225px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 23px;
      font-weight: 200;
    }
    .active {
      color: #ff6700;
      border-bottom: 2px solid #ff6700;
    }
    ul {
      display: flex;
      li {
        font-size: 18px;
        margin-left: 20px;
      }
    }
  }
  .biao {
    display: flex;
    width: 1225px;
    margin: 0 auto;
    .biaoLeft {
      width: 234px;
      height: 613px;
      .two {
        width: 234px;
        height: 300px;
        margin-bottom: 14px;
      }
      .two:hover {
        box-shadow: 0px 8px 16px 0px #ccc;
      }
    }
    .biaoList {
      display: flex;
      flex-wrap: wrap;
      .geng {
        p {
          line-height: 300px;
          box-sizing: border-box;
          font-size: 18px;
        }
        p:hover {
          color: #ff6700;
        }
      }
      li {
        padding: 10px 0;
        box-sizing: border-box;
        background: #fff;
        width: 234px;
        height: 300px;
        margin-left: 13px;
        margin-bottom: 14px;
        text-align: center;
        img {
          width: 160px;
          height: 160px;
          // margin: 0 37px;
          // display: inline-block;
        }
        .biaoName {
          margin-top: 30px;
          font-size: 17px;
        }
        .biaoTitle {
          margin: 5px 10px;
          font-size: 14px;
          color: #ccb7b7;
        }
        .biaoPrice {
          margin-top: 10px;
          span {
            font-size: 18px;
            color: #ff6700;
            margin-right: 10px;
          }
          s {
            color: #b0b0b0;
            font-size: 18px;
          }
        }
      }

      li:hover {
        box-shadow: 0px 8px 16px 0px #ccc;
      }
    }
  }
}
</style>


