<template>
  <div class='xq'>
    <div class="xq_top">
      <div class="xq_top_box">
        <p>{{list.product_name}}</p>
        <ul> 
          <li
            @mouseover="hot(0)"
            :class="{active:0==tabindex}"
          >概述</li>
          <li
            @mouseover="hot(1)"
            :class="{active:1==tabindex}"
          >参数</li>
          <li
            @mouseover="hot(2)"
            :class="{active:2==tabindex}"
          >用户评价</li>
        </ul>
      </div>
    </div>
    <div class="xq_box">
      <div class="xq_swiper">
        <el-carousel height="560px">
          <el-carousel-item
            v-for="item in swiper"
            :key="item.id"
            class="img"
          >
            <img :src="'http://106.15.179.105:3000/'+item.product_picture">
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="xq_right">
        <h3>{{list.product_name}}</h3>
        <p class="p1">{{list.product_intro}}</p>
        <p class="p2">小米自营</p>
        <p class="p3"><span class="span">{{list.product_selling_price}}元</span><s>{{list.product_price}}元</s></p>
        <div class="filter">
          <p class="p4"><span>{{list.product_name}}</span><span>{{list.product_selling_price}}元<s>{{list.product_price}}元</s></span></p>
          <h3>总价{{list.product_selling_price}}元</h3>
        </div>
        <p class="p5">
          <button class="btn1" @click="addcar()">加入购物车</button>
          <button class="btn2" @click="addshou()">喜欢</button>
        </p>
        <ul class="ul">
          <li><i class="el-icon-circle-check"></i>小米自营</li>
          <li><i class="el-icon-circle-check"></i>小米发货</li>
          <li><i class="el-icon-circle-check"></i>七天无理由退货</li>
          <li><i class="el-icon-circle-check"></i>七天价格保护</li>

        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { getDetails, getDetailsPicture, addCar, addShou } from "@/api/get.js";
// import bot from "@/components/bot.vue";
export default {
  name: "",
  data() {
    return {
      id: this.$route.query.id,
      list: [],
      swiper: [],
      tabindex: -1
    };
  },
  methods: {
    hot(index) {
      this.tabindex = index;
    },
    addcar() {
      let i = localStorage.getItem("id");
      addCar({ user_id: i, product_id: this.list.product_id }).then(res => {
        console.log(res);
        if (res.code == "001" || res.code == "002") {
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
        } else {
          this.$notify.error({
            title: "错误",
            message: res.msg
          });
        }
      });
    },
    addshou() {
      let i = localStorage.getItem("id");
      addShou({ user_id: i, product_id: this.list.product_id }).then(res => {
        console.log(res);
        if (res.code == "001" || res.code == "002") {
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
        } else {
          this.$notify.error({
            title: "错误",
            message: res.msg
          });
        }
      });
    }
  },
  mounted() {
    // console.log(this.id);
    // 轮播图数据请求
    getDetailsPicture(this.id).then(res => {
      this.swiper = res.ProductPicture;
      // console.log(this.swiper);
    });
    // 详情数据请求
    getDetails(this.id).then(res => {
      // category_id: 1
      // product_id: 1
      // product_intro: "120Hz高帧率流速屏/ 索尼6400万前后六摄 / 6.67'小孔径全面屏 / 最高可选8GB+256GB大存储 / 高通骁龙730G处理器 / 3D四曲面玻璃机身 / 4500mAh+27W快充 / 多功能NFC"
      // product_name: "Redmi K30"
      // product_num: 10
      // product_picture: "public/imgs/phone/Redmi-k30.png"
      // product_price: 2000
      // product_sales: 0
      // product_selling_price: 1599
      // product_title: "120Hz流速屏，全速热爱";
      this.list = res.Product[0];
      console.log(this.list);
    });
  },
  components: {}
};
</script>

<style lang='less' scoped>
.active {
  color: red;
}
.xq {
  margin-top: 20px;
  width: 100%;
  background: #ccc;
  background: #fff;
  .xq_top {
    z-index: 4;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    -webkit-box-shadow: 0 5px 5px #eee;
    box-shadow: 0 5px 5px #eee;
    border-bottom: 1px solid #e0e0e0;
    .xq_top_box {
      margin: 10px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
.xq_box {
  display: flex;
  align-items: center;
  width: 1500px;
  margin: 20px auto;
  .xq_swiper {
    width: 600px;
    height: 560px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .xq_right {
    margin-left: 30px;
    width: 850px;
    height: 560px;
    h3 {
      margin: 15px 0;
    }
    .p1 {
      color: #b0b0b0;
      padding-top: 10px;
    }
    .p2 {
      padding-top: 10px;
      color: #ff6700;
    }
    .p3 {
      padding: 20px 0;
      display: flex;
      border-bottom: 2px solid #ccc;
      .span {
        color: #ff6700;
      }
      s {
        margin-left: 10px;
        color: #b0b0b0;
        text-decoration: line-through;
      }
    }
    .filter {
      background: #f9f9fa;
      padding: 30px 60px;
      margin: 50px 0 50px;
      .p4 {
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 0;
        s {
          margin-left: 10px;
        }
      }
      h3 {
        margin: 10px 0;
        color: #ff6700;
      }
    }
    .p5 {
      margin: 15px 0;
      .btn1 {
        width: 380px;
        background-color: #ff6700;
        padding: 15px 0;
        color: #fff;
        outline: none;
        border: 0;
      }
      .btn2 {
        width: 300px;
        margin-left: 40px;
        background-color: #b0b0b0;
        padding: 15px 0;
        color: #fff;
        border: 0;
        outline: none;
      }
    }
    .ul {
      list-style: none;
      li {
        float: left;
        margin-right: 20px;
        color: #b0b0b0;
      }
    }
  }
}
</style>
