<template>
    <div class=''>
        <div class="car-top">
            <header>
                <i class="el-icon-collection-tag"></i>
                <h1>我的收藏</h1>
            </header>
        </div>
        <div class="main" v-show="list!=undefined">
            <div class="table-top">
              <ul class="biaoList">
                <li v-for="(item,index) in list" :key="index">
                            <el-popconfirm
                                confirm-button-text='确定'
                                icon="el-icon-info"
                                cancel-button-type="none"
                                title="确定删除吗？"
                                @confirm="rem(item)"
                                >
                                <i class="el-icon-close" @click="del" slot="reference"></i>
                              </el-popconfirm>
                  <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="">
                  <p class="biaoName">{{item.product_name}}</p>
                  <p class="biaoTitle">{{item.product_title}}</p>
                  <p class="biaoPrice"><span >{{item.product_selling_price}}元</span><s>{{item.product_price}}元</s></p>
                </li>
              </ul>
            </div>
        </div>
        <div class="cartNull" v-show="list==undefined">
          <div class="middle">
            <h1>您的收藏还是空的!</h1>
            <p>快去购物吧!</p>
          </div>
        </div>
    </div>
</template>

<script>
import { getShou, delShou } from "@/api/get.js";
export default {
  data() {
    return {
      list: [],
      visible: false
    };
  },
  mounted() {
    this.getshou();
  },
  methods: {
    getshou() {
      let id = localStorage.getItem("id");
      getShou(id).then(res => {
        console.log(res);
        this.list = res.collectList;
        console.log(this.list);
      });
    },
    del() {
      this.visible = true;
    },
    rem(item) {
      console.log(item);
      let id = localStorage.getItem("id");
      delShou({
        user_id: id,
        product_id: item.product_id
      }).then(res => {
        console.log(res);
          this.getshou();
        if (res.code == "001" || res.code == "002") {
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
        } else {
          this.$notify.error({
            title: "错误",
            message: res.msg
          }); 
        }
      });
    }
  },
  components: {}
};
</script>

<style lang='less'>
.car-top {
  width: 100%;
  border-bottom: 3px solid #ff6700;

  header {
    width: 1225px;
    margin: 0 auto;
    height: 66px;
    line-height: 66px;
    display: flex;
  }
  .el-icon-collection-tag {
    font-size: 28px;
    color: #ff6700;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    margin-top: 10px;
    color: #868387;
    margin-left: 20px;
  }
}
.main {
  width: 100%;
  background: #f5f5f5;
  // margin-top: 20px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  .table-top {
    width: 1225px;
    margin: 0 auto;
    display: flex;
    // background: #fff;
  }
  .biaoList {
    display: flex;
    flex-wrap: wrap;
    .geng {
      p {
        line-height: 300px;
        box-sizing: border-box;
        font-size: 18px;
      }
    }
    li {
      padding: 10px 0;
      box-sizing: border-box;
      background: #fff;
      width: 234px;
      height: 300px;
      margin-left: 13px;
      margin-bottom: 14px;
      text-align: center;
      position: relative;
      img {
        width: 160px;
        height: 160px;
        // margin: 0 37px;
        // display: inline-block;
      }
      .biaoName {
        margin-top: 30px;
        font-size: 17px;
      }
      .biaoTitle {
        margin: 5px 10px;
        font-size: 14px;
        color: #ccb7b7;
      }
      .biaoPrice {
        margin-top: 10px;
        span {
          font-size: 18px;
          color: #ff6700;
          margin-right: 10px;
        }
        s {
          color: #b0b0b0;
          font-size: 18px;
        }
      }
    }
    li:hover {
      box-shadow: 0px 8px 16px 0px #ccc;
      .el-icon-close {
        position: absolute;
        right: 10px;
        display: block;
      }
    }
    .el-icon-close:hover {
      color: orange;
    }
    .el-icon-close {
      position: absolute;
      right: 10px;
      display: none;
    }
  }
}
.cartNull {
  width: 100%;
  background: #f5f5f5;
  padding-top: 50px;
  padding-left: 100px;
  .middle {
    width: 1225px;
    margin: 0 auto;
    height: 500px;
    background: url("../../../public/null.png") no-repeat;
    // background-size: 10% 100%;
    padding-left: 450px;
    box-sizing: border-box;
    padding-top: 100px;
    h1 {
      font-size: 34px;
      color: #b0b0b5;
      font-weight: bold;
    }
    p {
      font-size: 22px;
      margin-top: 20px;
      color: #b0b0b5;
    }
  }
}
</style>
