<template>
<div id="app">
    <div class="top">
        <header>
            <div></div>
            <div class="topRight">
                <ul>
                  <li v-show="token!=null" style="width:100px;">欢迎&nbsp;
                    <span>
                    <el-popover
                      placement="bottom"
                      width="160"
                      v-model="visible">
                      <p>确定退出登录吗</p>
                      <div style="text-align: right; margin: 0">
                        <el-button size="mini" type="text" @click="visible = false">取消</el-button>
                        <el-button type="primary" size="mini" @click="tui">确定</el-button>
                      </div>
                      <!-- <el-button slot="reference">删除</el-button> -->
                      <span slot="reference" @click="visible = true">{{token}}</span>
                    </el-popover>
                    </span></li>
                  <li v-show="token==null"><span @click="loginShow=true">登录</span>&nbsp;|&nbsp;<span @click="zhu">注册</span></li>
                  <li><span @click="goOrder">我的订单</span></li>
                  <li><span @click="goShou">我的收藏</span></li>
                </ul>
                <button class="btn" @click="goCar" v-show="length==0"><i class="el-icon-shopping-cart-full"></i>购物车(<span>0</span>)</button>
                <button class="btn1 cheng" @click="goCar" v-show="length!=0"><i class="el-icon-shopping-cart-full"></i>购物车(<span>{{length}}</span>)</button>
            </div>
        </header>
    </div>
    <div class="box">
        <div class="tab">
            <div class="tabBox">
                <img src="../public/logo.png" alt="">
            <!-- <Tab></Tab> -->
            <ul>
                <li class="tab-item">
                    <router-link to="/goods">首页</router-link>
                </li>
                <li class="tab-item">
                    <router-link to="/ratings">全部商品</router-link>
                </li>
                <li class="tab-item">
                    <router-link to="/seller">关于我们</router-link>
                </li>
            </ul>
            </div>
            <el-input placeholder="请输入搜索内容"  class="input-with-select" v-model="txt">
                <el-button slot="append" icon="el-icon-search" @click="search"></el-button>
            </el-input>
        </div>
    </div>
    <!-- 注册 -->
    <el-dialog title="注册" width='17%' :center='true' :visible.sync="dialogFormVisible">
        <div class="con">
          <el-form :model="form" :rules="rules" ref="form" class="demo-ruleForm">
          <el-form-item  prop="userName">
            <el-input v-model="form.userName" placeholder="请输入账号">
            </el-input>
            <i class="el-icon-user-solid"></i>
          </el-form-item>
          <el-form-item  prop="password"> 
            <el-input v-model="form.password"  placeholder="请输入密码"></el-input>
            <i class="el-icon-view"></i>
          </el-form-item>
          <el-form-item  prop="password" > 
            <el-input v-model="form.pass1"  placeholder="请再次输入账号"></el-input>
            <i class="el-icon-view"></i>
          </el-form-item>
        </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" style="width:100%; margin-top:0px;" @click="zhuce()">确 定</el-button>
        </div>
    </el-dialog>
    <!-- 登录 -->
    <el-dialog title="登录" width='17%' :center='true' :visible.sync="loginShow">
        <div class="con">
          <el-form :model="form" :rules="rules" ref="form" class="demo-ruleForm">
          <el-form-item  prop="userName">
            <el-input v-model="form.userName" placeholder="请输入账号">
            </el-input>
            <i class="el-icon-user-solid"></i>
          </el-form-item>
          <el-form-item  prop="password"> 
            <el-input v-model="form.password"  placeholder="请输入密码"></el-input>
            <i class="el-icon-view"></i>
          </el-form-item>
        </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" style="width:100%; margin-top:0px;" @click="login()">确 定</el-button>
        </div>
    </el-dialog>
        <router-view></router-view>  
      <footer>
        <div class="xian">
          <ul>
          <li><i class="el-icon-goods"></i><span>7天无理由退货</span></li>
          <li><i class="el-icon-goods"></i><span>满99全场包邮</span></li>
          <li><i class="el-icon-goods"></i><span>100%品质保证</span></li>
          </ul> 
        </div>
        <div class="cat">
          <img src="../public/净水器.png" alt="">
        </div>
        <div class="zi">
          <span>首页</span>&emsp;|&emsp;<span>全部商品</span>&emsp;|&emsp;<span>关于我们</span>
        </div>
        <div>商城版权所有 © 2012-2021</div>
      </footer>
</div>
    
</template>

<script>
import Tab from "@/views/tab/tab.vue";
import { fail } from "assert";
import { getZhuce, getZhuceName, login, getCar } from "@/api/get.js";

export default {
  name: "app",
  components: {
    Tab
  },
  data() {
    return {
      dialogFormVisible: false,
      loginShow: false,
      visible: false,
      carShow:false,
      token: "",
      txt: "",
      length: "",
      form: {
        userName: "",
        password: "",
        pass1: ""
      },
      rules: {
        userName: [
          { required: true, message: "请输入登录名", trigger: "blur" },
          {
            min: 3,
            max: 10,
            message: "登录名长度在3 到 10 个字符",
            trigger: "blur"
          }
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            min: 6,
            max: 15,
            message: "登录密码长度在6 到 15 个字符",
            trigger: "blur"
          }
        ]
      },
      user: {},
      cartList:[]
    };
  },
  mounted() {
    // console.log(this.user);
    this.token = localStorage.getItem("token");
    console.log(this.token);
    this.getcar();
  },
  watch: {
    cartList(newName,old){
      this.getcar()
      // console.log(this.cartList);
    }
  },
  methods: {
    // user_id
    getcar() {
      let id = localStorage.getItem("id");
      getCar(id).then(res => {
        this.cartList=res.shoppingCartData
        this.length = res.shoppingCartData.length;
        // console.log(this.length);
        // localStorage.setItem('length',res.shoppingCartData.length)
      });
      if(this.length==0){
        this.catShow=true
      }else{
         this.catShow=false
      }
    },
    zhu() {
      this.dialogFormVisible = true;
    },
    zhuce() {
      this.dialogFormVisible = false;
      console.log(this.form);
      getZhuce(this.form).then(res => {
        console.log(res);
        this.form.userName = "";
        this.form.password = "";
        this.form.pass1 = "";
      });
    },
    goShou() {
      if (this.token == null) {
        this.loginShow = true;
      } else {
        this.$router.push({ path: "./show" });
      }
    },
    goOrder() {
      if (this.token == null) {
        this.loginShow = true;
      } else {
        this.$router.push({ path: "./order" });
      }
    },
    login() {
      this.loginShow = false;
      login(this.form).then(res => {
        console.log(res);
        this.user = res.user;
        this.form.userName = "";
        this.form.password = "";
        console.log(this.user);
        localStorage.setItem("token", this.user.userName);
        localStorage.setItem("id", this.user.user_id);
        this.token = localStorage.getItem("token");
      });
    },
    tui() {
      localStorage.removeItem("token");
      this.token = localStorage.getItem("token");
      this.visible = false;
    },
    goCar() {
      if (this.token == null) {
        this.loginShow = true;
      } else {
        this.$router.push({ path: "./myCar" });
      }
    },
    search() {
      console.log(this.txt);
      localStorage.setItem("txt", this.txt);
      if (this.txt != "") {
        this.$router.push({ path: "/ratings", query: { txt: this.txt } });
        this.txt = "";
      }
    }
  },
  computed: {}
};
</script>

<style lang="less" >
// 注意这里是全局样式，不用scoped
.top {
  width: 100%;
  height: 40px;
  background: #3d3d3d;
  header {
    width: 1225px;
    height: 40px;
    margin: 0 auto;
    // background: red;
    display: flex;
    color: #b0b0b0;
    justify-content: space-between;
    .topRight {
      display: flex;
      ul {
        display: flex;
        li {
          width: 80px;
          line-height: 40px;
        }
        span:hover {
          color: #fff;
        }
      }
      .cheng {
        background: #ff6700;
        color: #fff;
      }
      button {
        width: 120px;
        color: #b0b0b0;
        background: #424242;
      }
      .btn:hover {
        background: #fff;
        color: red;
      }
    }
  }
}
.box {
  width: 100%;
  margin-top: 20px;
}
.router-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0 30px;
}
.router-link-active {
  color: #409eff;
  width: 80px;
  padding-bottom: 20px;
  border-bottom: 3px solid #409eff;
}

.tab {
  width: 1225px;
  margin: 0 auto;
  height: 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .tabBox {
    display: flex;
  }
  .input-with-select {
    width: 300px;
    height: 40px;
    margin-top: 10px;
  }
  ul {
    height: 60px;
    display: flex;
    justify-items: center;
    margin-left: 50px;
    li {
      padding: 20px;
    }
  }
}

.main {
  width: 1225px;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 332px;
  background: #2f2f2f;
  text-align: center;
  color: #888888;
  .xian {
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
    margin-bottom: 20px;
    ul {
      display: flex;
      // justify-content: space-around;
      width: 1225px;
      height: 145px;
      line-height: 145px;
      //
      margin: 0 auto;
      li {
        color: #fff;
        text-align: center;
        width: 33%;
        span {
          font-size: 24px;
          // margin-right: 210px;
        }
      }
    }
  }
  .cat {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .zi {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }
}
.el-icon-goods {
  color: #fff;
  font-size: 34px;
  vertical-align: middle;
  margin-right: 15px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-weight: normal;
  vertical-align: baseline;
}

.con {
  width: 100%;
  // height: 300px;
  // padding: 0px 20px;
  box-sizing: border-box;
  .el-form-item__content {
    position: relative;
    i {
      position: absolute;
      left: 10px;
      top: 14px;
      color: #ccc;
    }
    input {
      padding-left: 30px;
    }
  }
  .bbb {
    text-align: right;
    .ccc {
      background: #909399;
      color: white;
    }
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
html,
body {
  line-height: 1;
  font-weight: 200;
  font-family: "PingFang SC", "STHeitiSC-Light", "Helvetica-Light", arial,
    sans-serif;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// /* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html,
body {
  width: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
</style>