<template>
    <div class=''>
        <div class="mylove_box">
            <div class="mylove_bb">
                <p v-html="list"></p>
            </div>
        </div>
    </div>
</template>

<script>
import MarkdownIt from "markdown-it";
import hljs from "highlight.js";
import "highlight.js/styles/default.css";
import { getMy } from "@/api/get.js";
export default {
  data() {
    return {
        list:''
    };
  },
  mounted() {
     let id = localStorage.getItem("id");
      getMy(id).then(res => {
        // console.log(res);
        let md = MarkdownIt();
        this.list = md.render(res);
      });
  },
  methods: {},
  components: {},
  computed: {
    // markdown() {
    //   const md = new MarkdownIt({
    //     highlight: function(str, lang) {
    //       if (lang && hljs.getLanguage(lang)) {
    //         try {
    //           return (
    //             '<pre class="hljs"><code>' +
    //             hljs.highlight(lang, str, true).value +
    //             "</code></pre>"
    //           );
    //         } catch (__) {}
    //       }
    //       return (
    //         '<pre class="hljs"><code>' +
    //         md.utils.escapeHtml(str) +
    //         "</code></pre>"
    //       );
    //     }
    //   });

    //   const result=md.render(this.list)
    //   return result
    // }
  }
};
</script>

<style lang='less' scoped>
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.mylove_box {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  .mylove_bb {
    width: 1225px;
    margin: 0 auto;
    p {
      width: 1225px;
      background: #fff;
    }
  }
}
</style>
