<template>
    <div class=''>
        <div class="car-top">
            <header>
                <i class="el-icon-shopping-cart-full"></i>
                <h1>我的购物车</h1>
                <p>温馨提示：产品是否购买成功，以最终下单为准哦，请尽快计算</p>
            </header>
        </div>
        <div class="main" v-show="list.length!=''">
              <div class="table-top">
                  <span><input type="checkbox" name="" id="" v-model="checkAll" @change="ckall">全选</span>
                  <span>商品名称</span>
                  <span>单价</span>
                  <span>数量</span>
                  <span>小计</span>
                  <span>操作</span>
              </div>
              <div class="table-middle" v-for="(item,index) in list" :key="index">
                  <!-- check: false
                  id: 12799wdwd
                  maxNum: 5
                  num: 3
                  price: 2599
                  productID: 2
                  productImg: "public/imgs/phone/Redmi-k30-5G.png"
                  productName: "Redmi K30 5G" -->
                      <span><input type="checkbox" name="" id="" v-model="item.check" @change="change" ></span>
                      <span class="name"><img :src="'http://106.15.179.105/api/'+item.productImg" alt="">{{item.productName}}</span>
                      <span>{{item.price}}元</span>
                      <span>
                      <!-- <template>
                          <el-input-number v-model="item.num" @change="handleChange" :min="1" :max="10"></el-input-number>
                      </template> -->
                          <el-input-number v-model="item.num" @change="handleChange(item)" :min="1"></el-input-number>
                      </span>
                      <span style="color:orange; margin: 0 5px">{{item.price*item.num}}元</span>
                      <span>
                        <el-popconfirm
                            confirm-button-text='确定'
                            icon="el-icon-info"
                            cancel-button-type="none"
                            title="确定删除吗？"
                            @confirm="rem(item)">
                          <i class="el-icon-error" @click="del" slot="reference"></i>
                        </el-popconfirm>
                      </span>
              </div>
              <div class="table-footer">
                  <div>
                  <span class="ji" @click="goshang">继续购物</span>&emsp;|&emsp;
                  <span>共<span style="color:orange; margin: 0 5px">{{num.num2}}</span>件商品，已选择<span style="color:orange; margin: 0 5px">{{num.num1}}</span>件</span>
                  </div>
                  <div class="footer-right">
                      <p>合计：<span>{{pricenum}}元</span></p>
                      <button :class="flag?'oran':'oran1'" @click="goOrder">去结算</button>
                  </div>
              </div>
        </div>
        <div class="cartNull" v-show="list.length==''">
          <div class="middle">
            <h1>您的购物车还是空的!</h1>
            <p>快去购物吧!</p>
          </div>
        </div>
    </div>
</template>

<script>
import { getCar, changeNum, delCar } from "@/api/get.js";
import { Pos } from "codemirror";

export default {
  data() {
    return {
      list: [],
      visible: false,
      checkAll: false,
      flag: false,
      result: []
    };
  },
  mounted() {
    this.getcar();
  },
  methods: {
    //   数量的改变
    getcar() {
      let id = localStorage.getItem("id");
      // console.log(id);
      getCar(id).then(res => {
        // console.log(res);
        this.list = res.shoppingCartData;
        localStorage.setItem("length", res.shoppingCartData.length);
      });
    },
    handleChange(item) {
      // console.log(item);
      let id = localStorage.getItem("id");
      changeNum({
        user_id: id,
        num: item.num,
        product_id: item.productID
      }).then(res => {
        // console.log(res);
        if (res.code == "001" || res.code == "002") {
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
        } else {
          this.$notify.error({
            title: "错误",
            message: res.msg
          });
        }
      });
    },
    del() {
      this.visible = true;
    },
    rem(item) {
      let id = localStorage.getItem("id");
      delCar({
        user_id: id,
        product_id: item.productID
      }).then(res => {
        console.log(res);
        this.getcar();
        if (res.code == "001" || res.code == "002") {
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
        } else {
          this.$notify.error({
            title: "错误",
            message: res.msg
          });
        }
      });
    },
    ckall() {
      this.list.forEach(item => {
        item.check = this.checkAll;
        this.changelist();
      });
    },
    changelist() {
      this.list.forEach(item => {
        if (item.check) {
          this.flag = true;
        }
        if (!item.check) {
          this.flag = false;
        }
        console.log(item.check);
      });
    },
    change() {
      let num2 = 0;
      this.list.forEach(item => {
        if (item.check) {
          num2++;
          // this.changelist();
        }
      });
      if (num2 == 0) {
        this.flag = false;
      } else {
        this.flag = true;
      }
      if (num2 == this.list.length) {
        this.checkAll = true;
      } else {
        this.checkAll = false;
      }
    },
    goshang() {
      this.$router.push({ path: "./ratings" });
    },
    goOrder() {
      if (this.flag) {
        this.list.forEach(item => {
          if (item.check) {
            this.result.push(item);
          }
        });
        localStorage.setItem("result", JSON.stringify(this.result));
        console.log(this.result);
        this.$router.push({ path: "./queOrder" });
      } else {
        return;
      }
    }
  },
  components: {},
  computed: {
    num() {
      let num1 = 0;
      let num2 = 0;
      this.list.forEach(item => {
        num2 += item.num;
        if (item.check == true) {
          num1 += item.num;
        }
      });
      console.log(num1, num2);
      return {
        num1: num1,
        num2: num2
      };
    },
    pricenum() {
      let num = 0;
      this.list.forEach(item => {
        if (item.check == true) {
          num += item.num * item.price;
        }
      });
      return num;
    }
  }
};
</script>

<style lang='less'>
.car-top {
  width: 100%;
  border-bottom: 3px solid #ff6700;

  header {
    width: 1225px;
    margin: 0 auto;
    height: 66px;
    line-height: 66px;
    display: flex;
  }
  .el-icon-shopping-cart-full {
    font-size: 28px;
    color: #ff6700;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    margin-top: 10px;
    color: #868387;
    margin-left: 20px;
  }
}

.main {
  width: 100%;
  background: #f5f5f5;
  // margin-top: 20px;
  margin-bottom: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  .table-top {
    width: 1225px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    border-bottom: 2px solid #ccc;
    span {
      display: block;
      width: 12%;
      height: 85px;
      line-height: 85px;
      text-align: center;
    }
    span:nth-child(2) {
      width: 40%;
    }
  }
  .table-middle {
    width: 1225px;
    margin: 0 auto;
    height: 116px;
    line-height: 116px;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
    span {
      display: block;
      width: 12%;
      height: 85px;
      line-height: 85px;
      text-align: center;

      .el-input-number__increase,
      .el-input-number__decrease {
        display: inline-block;
        width: 39px;
        height: 39px;
        line-height: 39px;
        // background: red;
        // padding: 0;
        // margin: 0;
      }
    }
    img {
      width: 80px;
      height: 80px;
      vertical-align: middle;
    }
    .name {
      width: 40%;
      text-align: left;
    }
  }
  .table-footer {
    width: 1225px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ji {
      margin-left: 30px;
    }

    .ji:hover {
      color: orange;
    }
    .footer-right {
      display: flex;
      align-items: center;
      .oran {
        background: orange;
        color: #fff;
      }
      .oran1 {
        background: #e0e0e0;
        color: #b0b0b0;
      }
      p {
        color: orange;
        span {
          font-size: 30px;
        }
      }
      button {
        width: 200px;
        height: 50px;
        margin-left: 30px;
        background: #e0e0e0;
        color: #b0b0b0;
      }
    }
  }
}
.el-icon-error:hover {
  color: orange;
}

.cartNull {
  width: 100%;
  background: #f5f5f5;
  padding-top: 50px;
  padding-left: 100px;
  .middle {
    width: 1225px;
    margin: 0 auto;
    height: 500px;
    background: url("../../../public/null.png") no-repeat;
    // background-size: 10% 100%;
    padding-left: 450px;
    box-sizing: border-box;
    padding-top: 100px;
    h1 {
      font-size: 34px;
      color: #b0b0b5;
      font-weight: bold;
    }
    p {
      font-size: 22px;
      margin-top: 20px;
      color: #b0b0b5;
    }
  }
}
</style>
