<template>
	<div id="ratings">
      <div class="top1">
         <p class="shou"><b>首页</b>&emsp;<i class="el-icon-arrow-right"></i>&emsp;<span>全部商品</span>&emsp;<i class="el-icon-arrow-right"></i>&emsp;<span>分类</span></p>
         <div class="type">
            <b>分类</b>&emsp;
            <ul>
               <li v-for="(item,index) in fen" :key="index" :class="index==nav?'active':''" @click="tab(index)">
                  {{item.category_name}}
               </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                。
            </ul>
         </div>
      </div>
      <div class="main">
         <ul class="biaoList">
            <li v-for="(item,index) in arr" :key="index" v-show="arr1.length==0"  @click="goxq(item.product_id)">
                  <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="">
                  <p class="biaoName">{{item.product_name}}</p>
                  <p class="biaoTitle">{{item.product_title}}</p>
                  <p class="biaoPrice"><span >{{item.product_selling_price}}元</span><s>{{item.product_price}}元</s></p>
            </li>
         </ul>
         <ul class="biaoList">
            <!-- <li v-for="(item,index) in arr" :key="index" v-if="arr1.length==0">
                  <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="">
                  <p class="biaoName">{{item.product_name}}</p>
                  <p class="biaoTitle">{{item.product_title}}</p>
                  <p class="biaoPrice"><span >{{item.product_selling_price}}元</span><s>{{item.product_price}}元</s></p>
            </li> -->
            <li v-for="(item,index) in arr1" :key="index" v-show="arr1.length!=0" @click="goxq(item.product_id)">
                  <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="">
                  <p class="biaoName">{{item.product_name}}</p>
                  <p class="biaoTitle">{{item.product_title}}</p>
                  <p class="biaoPrice"><span >{{item.product_selling_price}}元</span><s>{{item.product_price}}元</s></p>
            </li>
         </ul>
      </div>
      <el-pagination
      v-if="nav==0"
        style="text-align:center;"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pagenum"
        :page-size="pagesize"
        layout=" prev, pager, next"
        :total="total">
      </el-pagination>


      <el-pagination
      v-else
        style="text-align:center;"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="1"
        :page-size="1"
        layout=" prev, pager, next"
        :total="1">
      </el-pagination>
	</div>
</template>
<script>
import { getClassify, getAll, getSearch, getProduct } from "@/api/get.js";
export default {
  name: "ratings",
  data() {
    return {
      fen: [],
      list: [],
      arr1: [],
      nav: 0,
      pagenum: 1,
      pagesize: 15,
      total: 0,
      txt: this.$route.query.txt || "",
      id: this.$route.query.id || ""
    };
  },
  components: {},
  methods: {
    // tab切换
    tab(i) {
      this.nav = i;
      console.log(i);
      this.arr1 = this.list.filter(item => {
        return item.category_id == i;
      });
      console.log(this.arr1);
    },
    goxq(i) {
      console.log(i);
      this.$router.push({ path: "/xq", query: { id: i } });
    },
    // category_id
    handleSizeChange(val) {
      // console.log(`每页 ${val} 条`);
      this.pagesize = val;
    },
    handleCurrentChange(val) {
      // console.log(`当前页: ${val}`);
      this.pagenum = val;
    },
    getlist() {
      if (this.txt != "") {
        this.nav = -1;
        getSearch(this.txt).then(res => {
          this.list = res.Product;
          this.total = res.total;
        });
      } else {
        getAll().then(res => {
          this.list = res.Product;
          this.total = res.total;
          console.log(44, res);
        });
      }
    }
  },
  mounted() {
    getClassify().then(res => {
      this.fen = res.category;
      this.fen.unshift({
        category_id: 0,
        category_name: "全部"
      });
      // console.log(39, res.category);
    });
    this.getlist();
    // let id = localStorage.getItem("id");
    getProduct(this.id).then(res => {
      console.log(res);
      this.list = res.Product;
    });
    this.nav = this.id;
    console.log(this.txt);
  },
  computed: {
    arr() {
      return this.list.slice(
        (this.pagenum - 1) * this.pagesize,
        this.pagesize * this.pagenum
      );
    }
  },
  watch: {
    $route: {
      handler(val, oldval) {
        this.txt = val.query.txt;
        this.getlist();
      }
    }
  }
};
</script>
<style scoped lang="less">
.top1 {
  width: 1225px;
  // height: 50px;
  margin: 0 auto;
  //   margin-bottom: 10px;
  border-bottom: 1px solid #e4e7ed;
  b {
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
  }
}
.shou {
  display: flex;
  margin: 20px 0;
  line-height: 40px;
  span {
    color: #9a8da5;
  }
}
.active {
  color: #40b8ff;
  border-bottom: none;
}
.type {
  display: flex;
  ul {
    display: flex;
    border: 1px solid #e4e7ed;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    li {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      border-right: 1px solid #e4e7ed;
      border-bottom: 1px solid #e4e7ed;
    }
  }
}
.el-icon-arrow-right {
  color: #d6cbce;
  margin-top: 13px;
}
.main {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  //   margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 15px;
}
.biaoList {
  width: 1245px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 10px 0;
    box-sizing: border-box;
    background: #fff;
    width: 234px;
    height: 300px;
    margin-left: 13px;
    margin-bottom: 14px;
    text-align: center;
    img {
      width: 160px;
      height: 160px;
      // margin: 0 37px;
      // display: inline-block;
    }
    .biaoName {
      margin-top: 30px;
      font-size: 17px;
    }
    .biaoTitle {
      margin: 5px 10px;
      font-size: 14px;
      color: #ccb7b7;
    }
    .biaoPrice {
      margin-top: 10px;
      span {
        font-size: 18px;
        color: #ff6700;
        margin-right: 10px;
      }
      s {
        color: #b0b0b0;
        font-size: 18px;
      }
    }
  }

  li:hover {
    box-shadow: 0px 8px 16px 0px #ccc;
  }
}
</style>

